* {
  box-sizing: border-box;
}

body {
  display: block;
  margin-top 8px;
}

.header {
  background-color: #101D42;
  padding: 5pt;
}

h1 {
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-size: 32pt;
  color: #FFFFFF;
  text-align: center;
  line-height: 25pt;
}

h2 {
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-size: 18pt;
  color: #FFFFFF;
  text-align: center;
  line-height: 25pt;
}
