h1 {
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-size: 32pt;
  color: #FFFFFF;
  text-align: center;
  line-height: 25pt;
}
h2 {
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-size: 18pt;
  color: #FFFFFF;
  text-align: center;
  line-height: 25pt;
}
h3{
  font-family: 'Cormorant Garamond', serif !important;
  font-size: xx-large !important;
}
p{
  font-family: 'Cormorant Garamond', serif;
  font-size: x-large;
  line-height: 25px;
}
.responsive{
  max-width: 100%;
  min-width: 300px;
  max-height: 400px;
  height: auto;
}

.header {
  background-color: #101D42;
  padding: 5pt;
}

.footer {
  background-color: #101D42;
  padding: 5pt;
}

#contents {
  margin-left: 10%;
  margin-right: 10%;
  margin: 50px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 45%;
  padding: 20px;
  margin-left: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
