#headerPic {
  width: 90%;
  height: 1000px;
  margin-left: 100px;
  padding-top: 100px;
}

header {
  font-size: xx-large;
  font-family: 'Cormorant Garamond';
  text-align: center;
}

#description {
  font-size: x-large;
  font-family: 'Cormorant Garamond';
  margin: 20px;
  padding: 50px;
}
