#accessibilityButton {
  display: block;
  height: 130px;
  padding: 0;
  margin: 0;
  width: 130px;
  vertical-align: top;
  background: none;
  border: none;
  position: relative;
  top: 0;
}

#accessibilityButton img{
  display: block;
  height: 100px;
  width: 100px;
  border: none;
  outline: none;
}



p {
  font-size: x-large;
  font-family: 'Cormorant Garamond';
}

#accessibilityButtonMenu {
  float: left;
  margin-top: 5px;
  display: none;
}

#accessibilityDiv {
  float: left;
}
